@model Auction.Core.Models.Negotiation

@{
    ViewData["Title"] = "Lances Realizados";
}

<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <h5 class="card-header text-center">@ViewData["Title"]</h5>
            <div class="card-body">

                <div class="mt-1">
                    <form method="get">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" name="personName" class="form-control form-control-sm" placeholder="Pesquisar por nome do comprador..." />
                            </div>
                            <div class="col-2">
                                <button class="btn btn-sm btn-block btn-secondary">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-sm table-hover mt-2">
                    <tr>
                        <th>Código</th>
                        <th>Nome do Comprador</th>
                        <th>Nome do Produto</th>
                        <th>Valor do Lance</th>
                    </tr>

                    @if (@ViewBag.Negotiations.Count == 0)
                    {
                        <tr>
                            <td colspan="4">
                                <p class="text-center">Não há negociações em andamento.</p>
                            </td>
                        </tr>
                    }

                    @foreach (var negotiations in @ViewBag.Negotiations)
                    {
                        <tr>
                            <td>@negotiations.Id</td>
                            <td>@negotiations.Person.Name</td>
                            <td>@negotiations.Product.Name</td>
                            <td>@negotiations.ValueFormat</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
